body{
    font-family: "Poppins", "Segoe UI", sans-serif;
    background-color:  black;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    font-size: 2.2em;
    margin-top: 1.5em;
    color: #fce7bb;
}

form{
    background: 
        linear-gradient(#fce7bb, #fce7bb) padding-box,
        linear-gradient(to right, green 50%, red 50%) border-box;
    max-width: 450px;
    margin: 2em auto;
    padding: 2em;
    text-align: left;
    border: 5px solid transparent;
    border-radius: 10px;
}


label{
    font-weight: bold;
    color: black;
    font-size: 1.1em;
}

input{
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #fce7bb;    
}

input:focus{
    outline: none;
    border: 3px solid transparent;
    border-radius: 10px;
    background: 
        linear-gradient(#fce7bb, #fce7bb) padding-box,
        conic-gradient(from var(--angle), green 0deg 180deg, red 180deg 360deg) border-box;
    animation: rotate-border 2s linear infinite;
}

button{
    background-color: black;
    color: #fce7bb;
    border: none;
    border-radius: 30px;
    padding: 12px 30px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 1.5em auto 0;
}

button:hover{
    background: linear-gradient(90deg, red 0%, green 100%);
    color: white;
}

img.cible{
    border-radius: 20px;
    max-width: 30%;
}

@property --angle{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotate-border{
    to{
        --angle: 360deg;
    }
}

@media (max-width: 600px){
    form{
        width: 85%;
        padding: 1.5em;
    }

    h1{
        font-size: 1.7em;
    }

    img.cible{
        max-width: 100%;
    }
}


